@import url("https://fonts.googleapis.com/css2?family=Alice&family=EB+Garamond&family=Great+Vibes&display=swap");
/* font-family: 'Alice', serif;
font-family: 'EB Garamond', serif;
font-family: 'Great Vibes', cursive; */
/* body {

  font-size: 1.8rem;
  line-height: 1.618;
  max-width: 40em;
  margin: auto;
  color: #4a4a4a;
  background-color: #f9f9f9;
  padding: 13px;
}

@media (max-width: 684px) {
  body {
    font-size: 1.53rem;
  }
}

@media (max-width: 382px) {
  body {
    font-size: 1.35rem;
  }
 } */
/* 
  background-color: #fce38a;
  background-color: #f38181;
  background-color: #eaffd0;
  background-color: #95e1d3;

*/
html{
  margin-color:#eaffd0;

}
head, h1{
  background-color: #f38181;
  color:white;
  text-shadow:4px 4px 4px #4a4a4a ;
  padding: 20px;
  margin:0;
}
body {
  max-width: 750px;
  justify-content: center;
  margin: auto;
  font-family: "EB Garamond", serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Alice", serif;
  font-weight: 700;
}
nav {
  display: flex;
  float: right;
  flex-direction: column;
  margin: 10px;
  box-sizing: border-box;
  background-color: #95e1d3;

  /* height: 90px;
  max
  width: 90px;
  border: 1px solid rgb(41, 45, 46);
  border-radius: 5px;
  background-color: lightyellow;
  float: right;
  position: fixed;
  margin-top: 5px; */
}
form {
  display: grid;
  grid-template-rows: auto;
}
label {
  font-weight: 600;
}
input,
select {
  border: 1px solid #524d4d;
  border-radius: 5px;
  height: 1.5em;
  max-width: 200px;
  padding: 3px;
  margin: 8px;
}
button {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  max-width: auto;
  cursor: pointer;
  background-color: #1d7484;
  margin: 3px;
}
#submit {
  max-width: fit-content;
}
select {
  max-width: fit-content;
}
textarea {
  max-width: 500px;
  margin: 8px;
}
#name {
  max-width: 250px;
}
#review-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 8px;
  justify-content: center;
}
.card {
  padding: 10px;
  margin: 8px;
  background-color: rgb(183, 214, 242);
  border-radius: 20px;
  max-width: 50%;
  color: #144f5a;
  font-weight: 600;
  box-shadow: 5px 5px 5px #4a4a4a;
}
.card h3 {
  margin: 0.3em;
  max-width: 180px;
  font-size: 1.5em;
}
.card time,
.card span {
  margin-left: 0.5em;
}
blockquote {
  padding: 4px;

  /* font-family: 'Great Vibes', cursive;  */
}
