/* body {
  font-size: 1.8rem;
  line-height: 1.618;
  max-width: 40em;
  margin: auto;
  color: #4a4a4a;
  background-color: #f9f9f9;
  padding: 13px;
}

@media (max-width: 684px) {
  body {
    font-size: 1.53rem;
  }
}

@media (max-width: 382px) {
  body {
    font-size: 1.35rem;
  } */
#card-container{
    
  }
#review-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 8px;
    justify-content: center;
  }
  .card {
    padding: 10px;
    margin: 8px;
    background-color: rgb(183, 214, 242);
    border-radius: 20px;
    max-width: 25%;
    color: #144f5a;
    font-weight: 600;
    box-shadow: 5px 5px 5px #4a4a4a;
  }
  .card h3 {
    margin: 0.3em;
    max-width: 180px;
    font-size: 1.5em;
  }
  .card time,
  .card span {
    margin-left: 0.5em;
  }
  